rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /user_favorites/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /products/{productId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email in ["mmalinverno76@gmail.com", "mmalinverno@gmail.com", "peewe75@gmail.com", "avv.sapone@hotmail.it"];
    }
    match /categories/{categoryId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email in ["mmalinverno76@gmail.com", "mmalinverno@gmail.com", "peewe75@gmail.com", "avv.sapone@hotmail.it"];
    }
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /clients/{clientId} {
      allow read, write: if request.auth != null && request.auth.token.email in ["mmalinverno76@gmail.com", "mmalinverno@gmail.com", "peewe75@gmail.com", "avv.sapone@hotmail.it"];
    }
    match /{document=**} {
      allow read, write: if request.auth != null && request.auth.token.email in ["mmalinverno76@gmail.com", "mmalinverno@gmail.com", "peewe75@gmail.com", "avv.sapone@hotmail.it"];
    }
  }
}
